h1 {
  margin: 1rem;
  font-size: large;
  font-weight: bold;
}

.privacy {
  margin-top: 3rem;
}

.privacy h1 {
  font-size: xx-large;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.privacy h2 {
  font-size: x-large;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.privacy h4 {
  font-weight: bold;
}

.privacy p {
  margin-bottom: 1rem;
}

.privacy ul {
  list-style: disc;
  margin-left: 2rem;
}
